header{
    background-color: blue;
    display: flex;
    height: 500px;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: yellow solid 1px;
    font-size: 35px;
}

button{
    color: white;
    background-color: rgb(235, 41, 41);
    border: solid rgb(235, 41, 41) 2px;
    border-radius: 20%;
    height: 60px;
    width: 160px;
}